html, body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

#no-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: gray;
}

#iphone-wrap {
    width: 568px;
    height: 320px;
}

canvas {
    display: block;
    position: absolute;
    top: 0; left: 0;
}
